<style type="text/css" media="screen">
  ol li {
    line-height: 1.4em;
  }
</style>
<h1 style="margin-bottom: 0">This is your Contributor License Agreement for &ldquo;<%= @cla.repo_name %>&rdquo;</h1>
<h2 style="color: #aaa; margin-top: 0">(<a href="/cla">go back</a> to your list of agreements)</h2>
<div style="text-align: justify">
<%= @text.html_safe %>
</div>