<h1 style="margin-bottom: 0;">Build a Contributor License Agreement</h1>
<h2 style="margin-top: 0; color: #aaa">(in less than 5 minutes!)</h2>
<ol class="magic">
  <li>Authenticate with GitHub</li>
  <li>Select a CLA for your repo</li>
  <li>Collect signatures</li>
  <li>&hellip; profit!</li>
</ol>
<button onclick="window.location.href='/repositories'">Get started &mdash; build a license</button>
<div style="padding-top: 20px; margin-top: 20px; border-top: 1px solid #bbb"><h1 style="margin-top: 0">FAQ</h1>
<h2>What is this?</h2>
<p>This CLA Management tool (CLAM) makes it easy to manage contributors’ licenses on open source projects. </p>
<p>Project Core Teams can quickly generate a license (or upload an existing license) for collaborators to fill out and sign. Signatures are authenticated through GitHub and OAuth so that pull requests can be quickly reconciled against licensed contributors.</p>
<h2>How does this work?</h2>
<p>Core teams set up a license here for their open-source repositories. Collaborators can review the license page, provide any information required, and sign the license with their Github username.</p>
<h2>Why should I use a Contributor License Agreement?</h2>
<p>We feel that it’s important for open-source contributors to explicitly assign their work over to the projects they’re working on to avoid Intellectual Property and ownership issues down the road.</p>
<h2>Is a digital signature equivalent to an ink signature?</h2>
<p>Short answer: <b><a href="http://en.wikipedia.org/wiki/Electronic_Signatures_in_Global_and_National_Commerce_Act" target="_blank">yes</a></b>.</p>
<h2>Have a feature suggestion?</h2>
<p>Fork it yourself. Source code coming soon! (on GitHub&hellip; where else?)</p>
<h2>Who’s behind this?</h2>
<p>This project was inspired by the folks at Nodejitsu and created by Paperlex. UI guidance was provided by <a href="http://jesseddy.com/" target="_blank">Jess Eddy</a>.</p></div>